# === .NET (.NET Core / ASP.NET) ===
bin/
obj/
bin 2/
obj 2/
*.user
*.suo
*.vs/
*.dll
*.pdb
*.exe

# === Angular (Node.js + Angular CLI) ===
node_modules/
dist/
.angular/
out-tsc/
src/environments/*.ts

# === IDEs & OS ===
.vscode/
.idea/
.DS_Store
